{
  "openapi": "3.0.0",
  "info": {
    "title": "Kickbase API",
    "version": "4.5.0",
    "description": "Unofficial Kickbase API Specification"
  },
  "servers": [
    {
      "url": "https://api.kickbase.com"
    }
  ],
  "paths": {
    "/v4/challenges/favorites/{favoriteUserId}": {
      "delete": {
        "summary": "DELETE /v4/challenges/favorites/{favoriteUserId}",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "v4",
          "challenges",
          "favorites",
          "{favoriteUserId}"
        ],
        "description": "# Remove Manager From Favorites\n\nThis endpoint removes a manager from the authenticated user's favorites list in the Kickbase challenges system.\n\n## Path Parameters\n\n| Parameter | Type | Required | Description |\n| --- | --- | --- | --- |\n| `favoriteUserId` | integer | Yes | The unique ID of the manager to remove from your favorites list |\n\n**Example:** `1234`\n\n## Authentication\n\nThis endpoint requires authentication using a **Bearer Token**. Include your access token in the Authorization header:\n\n```\nAuthorization: Bearer {{token}}\n\n ```\n\nThe token should be obtained through the authentication flow and stored in your environment variables.\n\n## Request Headers\n\n- `Accept: application/json` - Specifies the expected response format\n    \n\n## Responses\n\n### Success Response (200 OK)\n\nThe manager has been successfully removed from your favorites list. The response will confirm the removal operation.\n\n### Error Response (400 Bad Request)\n\nThe request failed due to invalid input. Common causes include:\n\n- Invalid or non-existent `favoriteUserId`\n    \n- Manager is not currently in your favorites list\n    \n- Malformed request parameters\n    \n\n## Usage Notes\n\n- You can only remove managers that are currently in your favorites list\n    \n- The `favoriteUserId` must correspond to a valid manager in the system\n    \n- This operation is idempotent - attempting to remove a manager that's not in your favorites will result in a 400 error\n    \n- Ensure your authentication token is valid and has not expired before making the request\n    \n\n## Best Practices\n\n1. **Verify the manager ID** before attempting removal to avoid unnecessary error responses\n    \n2. **Handle errors gracefully** by checking for 400 status codes and providing user-friendly feedback\n    \n3. **Refresh your token** if you receive authentication errors\n    \n4. **Check your favorites list** after removal to confirm the operation succeeded"
      },
      "parameters": [
        {
          "name": "favoriteUserId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "integer"
          },
          "example": "1234"
        }
      ]
    },
    "/v4/challenges/favorites": {
      "post": {
        "summary": "POST /v4/challenges/favorites",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "v4",
          "challenges",
          "favorites"
        ],
        "description": "# Add Manager to Favorites\n\n## Overview\n\nThis endpoint allows you to add a manager or user to your favorites list in the Kickbase application. By marking a manager as a favorite, you can quickly access and track their performance throughout the season.\n\n## Authentication\n\nThis endpoint requires authentication using a Bearer token. Include your access token in the Authorization header:\n\n```\nAuthorization: Bearer {{token}}\n\n ```\n\nThe `{{token}}` variable should be set in your environment with a valid access token obtained through the Kickbase authentication flow.\n\n## Request Body\n\nThe request body must be sent as JSON with the following parameter:\n\n| Parameter | Type | Required | Description |\n| --- | --- | --- | --- |\n| `ui` | string | Yes | The unique identifier of the user/manager you want to add to favorites. This should be a valid user ID from the Kickbase system. |\n\n### Example Request Body\n\n``` json\n{\n  \"ui\": \"1234\"\n}\n\n ```\n\n## Responses\n\n### Success Response (200 OK)\n\nThe manager has been successfully added to your favorites list. See the \"200\" example for the complete response structure.\n\n### Error Response (400 Bad Request)\n\nThe request failed due to invalid input or business logic constraints. This may occur if:\n\n- The `ui` parameter is missing or invalid\n    \n- The user ID does not exist\n    \n- The manager is already in your favorites\n    \n- You've reached the maximum number of favorites allowed\n    \n\nSee the \"400\" example for the error response structure.\n\n## Usage Notes\n\n- Ensure the user ID (`ui`) corresponds to a valid manager in the Kickbase system\n    \n- Check your current favorites list before adding to avoid duplicate entries\n    \n- The endpoint is part of the challenges feature set in Kickbase v4 API\n    \n- Rate limiting may apply - refer to the API's general rate limit documentation\n    \n\n## Related Endpoints\n\nYou may also want to explore:\n\n- GET /v4/challenges/favorites - Retrieve your current favorites list\n    \n- DELETE /v4/challenges/favorites/{ui} - Remove a manager from favorites",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ui": {
                    "type": "string",
                    "format": "utc-millisec"
                  }
                }
              },
              "example": {
                "ui": "1234"
              }
            }
          }
        }
      }
    },
    "/v4/challenges/socialhub/{followedUserId}": {
      "delete": {
        "summary": "DELETE /v4/challenges/socialhub/{followedUserId}",
        "responses": {
          "default": {
            "description": ""
          }
        },
        "tags": [
          "v4",
          "challenges",
          "socialhub",
          "{followedUserId}"
        ],
        "description": "Removes (unfollows) a user from the Social Hub within the challenges context. This endpoint deletes the social connection between the authenticated user and the specified followed user.\n\n## Path Variables\n\n| Variable | Type | Description |\n|---|---|---|\n| `followedUserId` | string | The unique ID of the user to unfollow. Example: `123` |\n\n## Headers\n\n| Key | Value | Description |\n|---|---|---|\n| `Accept` | `application/json` | Specifies that the response should be returned in JSON format |\n\n## Response\n\nOn success, the server returns a response confirming the user has been unfollowed. If the specified `followedUserId` does not exist or the authenticated user is not following them, an appropriate error response is returned."
      },
      "parameters": [
        {
          "name": "followedUserId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "integer"
          },
          "example": "123"
        }
      ]
    },
    "/v4/challenges/socialhub/invitation": {
      "get": {
        "summary": "GET /v4/challenges/socialhub/invitation",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/socialhub/invitation",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Mon, 02 Mar 2026 10:42:41 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d5fcbd14e98469d-TXL"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "socialhub",
          "invitation"
        ],
        "description": "## Get SocialHub Challenge Invitation\n\nRetrieves the current user's invitation details for a SocialHub challenge. This endpoint is used to check whether the authenticated user has a pending or active invitation to participate in a SocialHub challenge.\n\n### Authentication\n\nThis request requires a valid authentication token. Set the `token` variable in your active environment before sending.\n\n### Request Headers\n\n| Header | Value |\n|--------|-------|\n| `Accept` | `application/json` |\n\n### Path / Variables\n\n| Variable | Description |\n|----------|-------------|\n| `baseUrl` | The base URL of the Kickbase API (e.g. `https://api.kickbase.com`) |\n\n### Response\n\n**200 OK** — Returns the SocialHub challenge invitation details for the authenticated user.\n\n```json\n{}\n```\n\n> **Note:** A `200` response with an empty body (`{}`) may indicate that no active invitation exists, or that the invitation data is not yet available."
      }
    },
    "/v4/challenges/socialhub/search": {
      "get": {
        "summary": "GET /v4/challenges/socialhub/search",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GET /v4/challenges/socialhub/search",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 08:30:10 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e14237ed61550-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "socialhub",
          "search"
        ],
        "description": "## Search Social Hub Challenges\n\nSearch for public Social Hub challenges available on the Kickbase platform. This endpoint allows you to find challenges by keyword and supports pagination through the results.\n\n---\n\n### Authentication\n\nThis request inherits **Bearer Token** authentication from the collection. The `{{token}}` variable must be set in your active environment with a valid access token obtained after login.\n\n```\nAuthorization: Bearer {{token}}\n\n ```\n\n---\n\n### Headers\n\n| Key | Value | Description |\n| --- | --- | --- |\n| `Accept` | `application/json` | Specifies that the response should be returned as JSON. |\n\n---\n\n### Query Parameters\n\n| Parameter | Type | Required | Description |\n| --- | --- | --- | --- |\n| `start` | integer | No | The zero-based offset for pagination. Use this to skip a number of results and retrieve the next page. |\n| `max` | integer | No | The maximum number of results to return per page. |\n| `query` | string | No | A search keyword to filter challenges by name or other relevant fields. Leave empty to retrieve all available challenges. |\n\n---\n\n### Example Response\n\nA successful `200 OK` response returns a list of matching Social Hub challenges:\n\n``` json\n{\n    \"it\": [\n        {\n            \"ui\": \"123\",\n            \"unm\": \"abc\",\n            \"dvim\": \"content/file/123abc.png\",\n            \"uim\": \"user/123abc.jpeg\",\n            \"ipic\": true\n        }\n    ]\n}\n\n ```\n\n| Field | Description |\n| --- | --- |\n| `it` | Array of challenge/user result items. |\n| `ui` | User/challenge identifier. |\n| `unm` | Username or challenge name. |\n| `dvim` | Default/cover image path. |\n| `uim` | User profile image path. |\n| `ipic` | Boolean indicating whether a profile picture is set. |"
      }
    },
    "/v4/challenges/socialhub": {
      "get": {
        "summary": "GET /v4/challenges/socialhub",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GET /v4/challenges/socialhub",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 08:31:42 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e167158bff56c-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "socialhub"
        ],
        "description": "## GET Social Hub Challenges\n\nRetrieves a list of **Social Hub challenges** from the Kickbase fantasy football platform. Social Hub challenges are community-based challenges that players can participate in within the game.\n\n---\n\n### Authentication\n\nThis endpoint requires a valid bearer token. Include the token in the `Authorization` header:\n\n```\nAuthorization: Bearer {{token}}\n```\n\n---\n\n### Query Parameters\n\n| Parameter | Type    | Required | Description                                              |\n|-----------|---------|----------|----------------------------------------------------------|\n| `start`   | integer | No       | Pagination offset — the index of the first result to return. Defaults to `0` if omitted. |\n| `max`     | integer | No       | Maximum number of results to return per page. Use in combination with `start` for pagination. |\n\n---\n\n### Headers\n\n| Header   | Value              |\n|----------|--------------------|\n| `Accept` | `application/json` |\n\n---\n\n### Example Request\n\n```\nGET {{baseUrl}}/v4/challenges/socialhub?start=0&max=20\n```\n\n---\n\n### Response\n\nReturns a JSON object containing the list of Social Hub challenges. Use the `start` and `max` parameters to paginate through large result sets."
      },
      "post": {
        "summary": "POST /v4/challenges/socialhub",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "v4",
          "challenges",
          "socialhub"
        ],
        "description": "## Post to Social Hub Challenge\n\nSubmits a request to the Social Hub challenge endpoint.\n\n**Endpoint:** `POST {{baseUrl}}/v4/challenges/socialhub`\n\n### Headers\n\n| Key | Value |\n| --- | --- |\n| `Content-Type` | `application/json` |\n| `Accept` | `application/json` |\n\n### Request Body\n\n``` json\n{\n  \"ui\": \"123\"\n}\n\n ```\n\n| Field | Type | Description |\n| --- | --- | --- |\n| `ui` | `string` | The UI identifier associated with the social hub challenge submission. |\n\n### Authentication\n\nThis request requires a valid `token` variable to be set in the active environment (e.g., **Kickbase v4**). Ensure `baseUrl` is also configured to point to the correct API base URL.\n\n### Notes\n\n- The request body must be valid JSON.\n    \n- The `token` variable is expected to be set prior to sending this request (e.g., via a login/authentication request).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ui": {
                    "type": "string",
                    "format": "color"
                  }
                }
              },
              "example": {
                "ui": "123"
              }
            }
          }
        }
      }
    },
    "/v4/challenges/archive": {
      "get": {
        "summary": "GET /v4/challenges/archive",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/archive",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 08:33:27 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e19043a2c889c-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "archive"
        ],
        "description": "## GET /v4/challenges/archive\n\nRetrieves a list of **archived (past/completed) challenges** from the Kickbase API.\n\n### Description\n\nThis endpoint returns all challenges that have already ended or been completed. Use it to browse historical challenge data, review past results, or display a challenge history to users.\n\n### Request\n\n| Property | Value |\n|----------|-------|\n| Method | `GET` |\n| URL | `{{baseUrl}}/v4/challenges/archive` |\n\n#### Headers\n\n| Key | Value | Description |\n|-----|-------|-------------|\n| `Accept` | `application/json` | Specifies that the response should be returned in JSON format. |\n\n### Response\n\nReturns a JSON object or array containing archived challenge entries. Each challenge typically includes details such as the challenge ID, name, dates, and final standings or results.\n\n### Notes\n\n- This endpoint only returns **past/completed** challenges. For active or upcoming challenges, use the appropriate challenges endpoint.\n- Ensure the `{{baseUrl}}` variable is set correctly in your active environment (e.g., `Kickbase v4`).\n- Authentication may be required — make sure the `token` variable is set in your environment and passed via the appropriate auth header or mechanism."
      }
    },
    "/v4/challenges/lobby/archive": {
      "get": {
        "summary": "GET /v4/challenges/lobby/archive",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/lobby/archive",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Tue, 03 Mar 2026 14:12:58 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d693d3af9c7d81e-TXL"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "lobby",
          "archive"
        ],
        "description": "## GET /v4/challenges/lobby/archive\n\nRetrieves a list of **archived (past) lobby challenges**. This endpoint returns previously completed challenge seasons and their associated matchday challenges, grouped by season and calendar week.\n\n### Response Structure\n\nThe response contains a top-level `it` array, where each entry represents a **season group** with the following fields:\n\n| Field | Description |\n|-------|-------------|\n| `wn` | Calendar week number |\n| `csy` | Challenge season year (e.g. `\"2025\"`) |\n| `it` | Array of individual challenges within this season/week |\n\nEach challenge object inside `it` includes:\n\n| Field | Description |\n|-------|-------------|\n| `ch` | Challenge ID |\n| `chn` | Challenge name (e.g. `\"Bundesliga Matchday Challenge #24\"`) |\n| `chim` | Challenge image path |\n| `col` | Accent color (hex) associated with the challenge |\n| `p` | Points scored |\n| `top` | Top percentile rank achieved |\n| `skp` | Score/points delta (can be negative) |\n| `sid` | Season ID |\n| `day` | Matchday number |\n| `li` | League instance ID |\n| `cpi` | Challenge participation ID |\n| `cht` | Challenge type |\n| `clpc` | Challenge leaderboard position count |\n| `ispd` | Whether the challenge is paid/premium (`boolean`) |\n\n### Notes\n- Requires a valid `token` in the active environment for authentication.\n- Results are ordered by season and week, making it useful for reviewing historical challenge performance."
      }
    },
    "/v4/challenges/lobby/divisionLadder": {
      "get": {
        "summary": "GET /v4/challenges/lobby/divisionLadder",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/lobby/divisionLadder",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 08:36:27 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e1d68ade63314-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "lobby",
          "divisionLadder"
        ],
        "description": "## GET Division Ladder — Challenges Lobby\n\nRetrieves the **division ladder** for the challenges lobby in Kickbase. This endpoint returns the ranked standings of players or teams within their respective division, as part of the challenges feature.\n\n### Use Case\n\nUse this endpoint to display the current division rankings in the challenges lobby — useful for showing a user's position relative to other competitors in their division during an active challenge season.\n\n### Authentication\n\nThis request requires a valid bearer token. Set the `token` variable in your active environment:\n\n```\nAuthorization: Bearer {{token}}\n```\n\n### Request\n\n| Property | Value |\n|----------|-------|\n| Method   | `GET` |\n| URL      | `{{baseUrl}}/v4/challenges/lobby/divisionLadder` |\n\n**Headers**\n\n| Key | Value |\n|-----|-------|\n| `Accept` | `application/json` |\n\n### Variables\n\n| Variable | Description |\n|----------|-------------|\n| `baseUrl` | The base URL of the Kickbase API (e.g. `https://api.kickbase.com`) |\n| `token`   | A valid authentication token obtained after login |\n\n### Response\n\nReturns a JSON object containing the division ladder, including ranked entries with user/team details and their scores or points within the current challenge division.\n\n> See the saved example **\"GET /v4/challenges/lobby/divisionLadder\"** for a sample response."
      }
    },
    "/v4/challenges/lobby/explore/{challengeId}": {
      "get": {
        "summary": "GET /v4/challenges/lobby/explore/{challengeId}",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/lobby/explore/{challengeId}",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 08:38:33 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e207ded81e523-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "lobby",
          "explore",
          "{challengeId}"
        ],
        "description": "## GET Challenge Lobby Details\n\nRetrieves details about a specific challenge lobby by its ID from the Kickbase API. Use this endpoint to explore the lobby information for a given challenge.\n\n---\n\n### Path Variables\n\n| Variable | Description |\n|---|---|\n| `challengeId` | The unique ID of the challenge to explore |\n\n---\n\n### Authentication\n\nThis request requires a bearer token passed via the `{{token}}` variable:\n\n```\nAuthorization: Bearer {{token}}\n```\n\n---\n\n### Response\n\nReturns a JSON object containing the details of the specified challenge lobby.\n\n- **Content-Type:** `application/json`"
      },
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "integer"
          },
          "example": "1"
        }
      ]
    },
    "/v4/challenges/lobby/explore": {
      "get": {
        "summary": "GET /v4/challenges/lobby/explore",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/lobby/explore",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 08:37:50 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e1f705ce0e523-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "lobby",
          "explore"
        ],
        "description": "## Explore Challenge Lobby\n\nReturns publicly available challenge lobby data for exploration, including available competitions (`cps`), sponsored challenges (`spo`), and slug-based challenges (`slg`). This endpoint is used to populate the challenge discovery/explore screen.\n\n---\n\n### Method & URL\n\n```\nGET {{baseUrl}}/v4/challenges/lobby/explore\n```\n\n---\n\n### Authentication\n\nThis request uses **Bearer Token** authentication inherited from the collection. The `{{token}}` variable must be set in the active environment with a valid user token.\n\n```\nAuthorization: Bearer {{token}}\n```\n\n---\n\n### Headers\n\n| Key | Value | Description |\n| --- | --- | --- |\n| `Accept` | `application/json` | Specifies that the response should be in JSON format |\n\n---\n\n### Query Parameters\n\nNone.\n\n---\n\n### Example Response — `200 OK`\n\n```json\n{\n    \"cps\": [\n        {\n            \"i\": \"1\",\n            \"n\": \"Bundesliga\",\n            \"cpim\": \"content/file/2beed7fec3534109a0cc13adfc372f8b.png\"\n        }\n    ],\n    \"spo\": [\n        {\n            \"ch\": \"699\",\n            \"f\": \"content/file/26141186164840828a6a72fa47e5a1c3.jpe\",\n            \"t\": 2,\n            \"sd\": \"2026-02-27T19:30:00Z\",\n            \"isn\": false,\n            \"il\": false\n        }\n    ],\n    \"slg\": []\n}\n```\n\n### Response Fields\n\n**`cps`** — Array of available competitions\n\n| Field | Type | Description |\n| --- | --- | --- |\n| `i` | string | Competition ID |\n| `n` | string | Competition name (e.g. `\"Bundesliga\"`) |\n| `cpim` | string | Relative path to the competition image |\n\n**`spo`** — Array of sponsored/featured challenges\n\n| Field | Type | Description |\n| --- | --- | --- |\n| `ch` | string | Challenge ID |\n| `f` | string | Relative path to the challenge image/thumbnail |\n| `t` | number | Challenge type identifier |\n| `sd` | string (ISO 8601) | Challenge start date/time in UTC |\n| `isn` | boolean | Whether the challenge is new |\n| `il` | boolean | Whether the challenge is locked |\n\n**`slg`** — Array of slug-based challenges (empty if none available)"
      }
    },
    "/v4/challenges/lobby/overview/live": {
      "get": {
        "summary": "GET /v4/challenges/lobby/overview/live",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/lobby/overview/live",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 08:40:18 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e230ba9f6e52f-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "lobby",
          "overview",
          "live"
        ],
        "description": "## GET Live Challenge Lobby Overview\n\nRetrieves the **live overview** of the challenge lobby, providing real-time data about currently active challenges.\n\n### Endpoint\n\n```\nGET {{baseUrl}}/v4/challenges/lobby/overview/live\n```\n\n### Authentication\n\nThis request requires a valid bearer token passed via the `{{token}}` variable. Ensure the token is set in your active environment before sending the request.\n\n### Request Headers\n\n| Header | Value | Description |\n|--------|-------|-------------|\n| `Accept` | `application/json` | Specifies that the response should be in JSON format |\n\n### Variables\n\n| Variable | Description |\n|----------|-------------|\n| `{{baseUrl}}` | The base URL of the Kickbase API (e.g., `https://api.kickbase.com`) |\n| `{{token}}` | The authentication token obtained after login |\n\n### Response\n\nReturns a JSON object containing the live challenge lobby overview, including details about ongoing challenges available to the user.\n\n### Notes\n\n- This endpoint reflects **live/real-time** data and may change frequently during active challenge periods.\n- Make sure the `Kickbase v4` environment is active and the `token` variable is populated (e.g., by running the login request first)."
      }
    },
    "/v4/challenges/lobby/overview": {
      "get": {
        "summary": "GET /v4/challenges/lobby/overview",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/lobby/overview",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 08:40:46 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e23b7aba1e52f-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "lobby",
          "overview"
        ],
        "description": "## GET Challenges Lobby Overview\n\nRetrieves a summary overview of the challenges lobby, providing high-level information about available and active challenges.\n\n### Request\n\n| Property | Value |\n|----------|-------|\n| Method | `GET` |\n| Endpoint | `/v4/challenges/lobby/overview` |\n\n### Headers\n\n| Key | Value | Description |\n|-----|-------|-------------|\n| `Accept` | `application/json` | Specifies that the response should be returned in JSON format |\n\n### Authentication\n\nThis request requires a valid bearer token. Set the `token` variable in your environment:\n\n```\nAuthorization: Bearer {{token}}\n```\n\n### Response\n\nReturns a JSON object containing an overview of the challenges lobby. This typically includes:\n\n- A list of currently available challenges\n- Summary statistics (e.g., number of active challenges, participants)\n- Lobby status and metadata\n\n### Example\n\nA saved example is available — **GET /v4/challenges/lobby/overview** — demonstrating a typical successful response from this endpoint.\n\n### Notes\n\n- Ensure `baseUrl` and `token` are set in your active environment (`Kickbase v4`) before sending this request.\n- The `challengeId` variable can be used in related challenge endpoints to drill down into specific challenge details."
      }
    },
    "/v4/challenges/lobby/profile": {
      "get": {
        "summary": "GET /v4/challenges/lobby/profile",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/lobby/profile",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 08:42:51 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e26c60e1823ee-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "lobby",
          "profile"
        ],
        "description": "Retrieves the authenticated user's challenge lobby profile, including their current division, season information, and challenge participation stats.\n\n## Authentication\n\nRequires a Bearer token passed via the `{{token}}` variable, inherited from the collection-level auth.\n\n## Response Structure\n\n| Field | Type | Description |\n|-------|------|-------------|\n| `u` | object | User info object |\n| `u.ui` | string | User ID |\n| `u.unm` | string | Username |\n| `u.uim` | string | User profile image path |\n| `dv` | object | Division info object |\n| `dv.dvi` | string | Division ID |\n| `dv.dvn` | string | Division name (e.g. `\"Beginner III\"`) |\n| `dv.dvim` | string | Division image path |\n| `dv.prl` | number | Promotion/relegation level indicator |\n| `dv.hdvn` | string | Human-readable division name |\n| `n` | string | Season name |\n| `sd` | string (ISO 8601) | Season start date |\n| `ed` | string (ISO 8601) | Season end date |\n| `skp` | number | Skips used |\n| `avskp` | number | Available skips remaining |\n| `ap` | number | Activity points |\n| `chc` | number | Challenge count |\n\n## Example Response\n\n```json\n{\n    \"u\": {\n        \"ui\": \"123\",\n        \"unm\": \"abc\",\n        \"uim\": \"user/abc123.png\"\n    },\n    \"dv\": {\n        \"dvi\": \"30\",\n        \"dvn\": \"Beginner III\",\n        \"dvim\": \"content/file/07f6df4b10ba4fff9268d7a93afe0182.png\",\n        \"prl\": 0,\n        \"hdvn\": \"Beginner III\"\n    },\n    \"n\": \"Season \",\n    \"sd\": \"2025-06-30T22:00:00Z\",\n    \"ed\": \"2026-06-29T22:00:00Z\",\n    \"skp\": 0,\n    \"avskp\": 0,\n    \"ap\": 0,\n    \"chc\": 0\n}\n```"
      }
    },
    "/v4/challenges/lobby/skillPoints/summary": {
      "get": {
        "summary": "GET /v4/challenges/lobby/skillPoints/summary",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/lobby/skillPoints/summary",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Wed, 04 Mar 2026 10:19:08 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d7024103b21d81e-TXL"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "lobby",
          "skillPoints",
          "summary"
        ],
        "description": "## Get Skill Points Summary\n\nRetrieves the skill points summary for the authenticated user in the Challenges lobby.\n\n> &lt;p &gt;Note: No response body was available in the provided account. The structure below documents the request shape (method, URL, auth, headers, params).&lt;/p&gt; \n  \n\n### Endpoint\n\n``` id=\"s2k9vm\"\nGET /v4/challenges/lobby/skillPoints/summary\n\n ```\n\n### Authentication\n\nThis endpoint requires authentication using a Bearer token.\n\n``` id=\"a6m3qt\"\nAuthorization: Bearer {{token}}\n\n ```\n\n### Headers\n\n| Header | Value | Description |\n| --- | --- | --- |\n| `Accept` | `application/json` | Specifies the expected response format. |\n\n### Path Variables\n\nThis endpoint does **not** require any path variables.\n\n### Query Parameters\n\nThis endpoint does **not** require any query parameters.\n\n### Request Body\n\nThis endpoint does **not** require a request body.\n\n### Response\n\nResponse payload not available yet (depends on account/state)."
      }
    },
    "/v4/challenges/lobby/skillPoints/collect": {
      "post": {
        "summary": "POST /v4/challenges/lobby/skillPoints/collect",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "v4",
          "challenges",
          "lobby",
          "skillPoints",
          "collect"
        ],
        "description": "Collects accumulated skill points for the authenticated user in the challenges lobby.\n\nThis endpoint triggers the collection of skill points that the user has earned through challenge participation in the lobby. Once called, the pending skill points are credited to the user's account.\n\n## Authentication\n\nRequires a valid Bearer token:\n```\nAuthorization: Bearer {{token}}\n```\n\n## Request\n\nNo request body is required.\n\n## Response\n\nReturns a JSON response confirming the collection of skill points.\n\n## Notes\n- Skill points can be reviewed beforehand using the `GET /v4/challenges/lobby/skillPoints/summary` endpoint.\n- The `{{baseUrl}}` and `{{token}}` variables must be set in the active environment (e.g., *Kickbase v4*)."
      }
    },
    "/v4/challenges/overview": {
      "get": {
        "summary": "GET /v4/challenges/overview",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/overview",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 08:45:19 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e2a64684de52a-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "overview"
        ]
      }
    },
    "/v4/challenges/recommended": {
      "get": {
        "summary": "GET /v4/challenges/recommended",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/recommended",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 08:46:09 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e2b9ceffbe52a-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "recommended"
        ],
        "description": "## Get Recommended Challenges\n\nRetrieves a list of recommended challenges.\n\n---\n\n### Request\n\n**GET** `/v4/challenges/recommended`\n\n---\n\n### Headers\n\n| Header | Value | Description |\n| --- | --- | --- |\n| `Accept` | `application/json` | Specifies the expected response format. |\n| `Authorization` | `Bearer {{token}}` | Required authentication token. |\n\n---\n\n### Response (200 OK)\n\n| Field | Type | Description |\n| --- | --- | --- |\n| `it` | array | List of recommended challenge items. |\n\n---\n\n### `it` Object\n\n| Field | Type | Description |\n| --- | --- | --- |\n| `ch` | string | Challenge ID. |\n| `fb` | string | File path to preview/banner image. |\n| `lis` | string (ISO 8601) | Start date/time of the challenge. |\n| `chim` | string | File path to challenge header image. |\n\n---\n\n### Example Response\n\n``` json\n{\n  \"it\": [\n    {\n      \"ch\": \"705\",\n      \"fb\": \"content/file/1236a6c8ade94c85b03ba63f240079cf.jpe\",\n      \"lis\": \"2026-02-27T19:30:00Z\",\n      \"chim\": \"content/file/1236a6c8ade94c85b03ba63f240079cf.jpe\"\n    }\n  ]\n}\n\n ```"
      }
    },
    "/v4/challenges/selection": {
      "get": {
        "summary": "GET /v4/challenges/selection",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/selection",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 08:47:00 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e2cde2c77e52a-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "selection"
        ],
        "description": "## Get Challenge Selection\n\nRetrieves the current challenge selection available to the authenticated user. This endpoint returns the set of challenges that the user can choose from or participate in, typically used to populate a challenge selection screen in the Kickbase app.\n\n**Endpoint:** `GET {{baseUrl}}/v4/challenges/selection`\n\n---\n\n### Authentication\n\nThis request uses **Bearer Token** authentication, inherited from the collection level. The token is stored in the `{{token}}` variable and must be a valid session token obtained via the login endpoint.\n\n```\nAuthorization: Bearer {{token}}\n```\n\n> Set the `token` variable in the **Kickbase v4** environment before sending this request.\n\n---\n\n### Request Headers\n\n| Key | Value | Description |\n| --- | --- | --- |\n| `Accept` | `application/json` | Indicates that the client expects a JSON response |\n\n---\n\n### Path Variables\n\nNone.\n\n---\n\n### Query Parameters\n\nNone.\n\n---\n\n### Response Format\n\nReturns a JSON object containing the available challenge selection data. The response is consistent with the broader challenges API, which includes challenge metadata such as IDs, titles, lineup configuration, and status information.\n\n**Success — `200 OK`**\n\n```json\n{\n  // Challenge selection data\n}\n```\n\nRefer to the saved example **GET /v4/challenges/selection** for a full sample response payload.\n\n---\n\n### Related Endpoints\n\n| Method | Endpoint | Description |\n| --- | --- | --- |\n| `GET` | `/v4/challenges/overview` | Get an overview of all challenges |\n| `GET` | `/v4/challenges/lobby/overview/live` | Get the live challenge lobby overview |\n| `GET` | `/v4/challenges/{challengeId}/lineup/teams` | Get lineup teams for a specific challenge |\n| `POST` | `/v4/challenges/{challengeId}/lineup/fill` | Fill the lineup for a specific challenge |"
      }
    },
    "/v4/challenges/{challengeId}/favorites/search": {
      "get": {
        "summary": "GET /v4/challenges/{challengeId}/favorites/search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GET /v4/challenges/{challengeId}/favorites/search",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 08:50:09 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e317adfbde522-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "{challengeId}",
          "favorites",
          "search"
        ],
        "description": "## Search Favorite Managers in a Challenge\n\nSearches for favorite managers within a specific challenge. Returns a filtered list of favorited managers matching the given search criteria.\n\n**Method:** `GET`  \n**Endpoint:** `{{baseUrl}}/v4/challenges/:challengeId/favorites/search`\n\n---\n\n### Path Variables\n\n| Variable | Description |\n|---|---|\n| `challengeId` | The unique identifier of the challenge to search favorites in. |\n\n---\n\n### Query Parameters\n\n| Parameter | Description |\n|---|---|\n| `query` | The search term used to filter favorite managers by name or other attributes. |\n| `start` | Pagination offset — the index of the first result to return. |\n| `max` | The maximum number of results to return per page. |\n\n---\n\n### Headers\n\n| Key | Value |\n|---|---|\n| `Accept` | `application/json` |\n\n---\n\n### Response\n\nReturns a JSON response containing the list of favorite managers that match the search criteria within the specified challenge."
      },
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "{{challengeId}}"
        }
      ]
    },
    "/v4/challenges/{challengeId}/favorites": {
      "get": {
        "summary": "GET /v4/challenges/{challengeId}/favorites",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GET /v4/challenges/{challengeId}/favorites",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 09:19:48 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e5ceaead7f56c-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "{challengeId}",
          "favorites"
        ],
        "description": "## GET Challenge Favorites\n\nRetrieves the list of favorites for a specific challenge, identified by `challengeId`.\n\n### Path Variables\n\n| Variable | Description |\n|---|---|\n| `challengeId` | The unique identifier of the challenge. Uses the `{{challengeId}}` variable. |\n\n### Query Parameters\n\n| Parameter | Required | Description |\n|---|---|---|\n| `scope` | Optional | Filters the favorites returned. Leave empty to retrieve all favorites for the challenge. |\n\n### Headers\n\n| Header | Value |\n|---|---|\n| `Accept` | `application/json` |\n\n### Response\n\nReturns a JSON object containing the favorites associated with the given challenge. The response shape may vary depending on the `scope` filter applied.\n\n### Example\n\nA saved example is available for this endpoint demonstrating a typical response for `GET /v4/challenges/{challengeId}/favorites`. Refer to the example for the expected response structure."
      },
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "{{challengeId}}"
        }
      ]
    },
    "/v4/challenges/{challengeId}/lineup/livepitch": {
      "get": {
        "summary": "GET /v4/challenges/{challengeId}/lineup/livepitch",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/{challengeId}/lineup/livepitch",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 09:21:01 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e5eb02a13e527-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "{challengeId}",
          "lineup",
          "livepitch"
        ],
        "description": "## Get Live Pitch Lineup for a Challenge\n\nRetrieves the **live pitch lineup** for a specific challenge in the Kickbase fantasy football app. This endpoint returns the current real-time lineup displayed on the pitch for the given challenge, useful for tracking player positions and live match data during an active gameday.\n\n---\n\n### Path Variables\n\n| Variable | Type | Description |\n|---|---|---|\n| `challengeId` | string | The unique identifier of the challenge for which the live pitch lineup is retrieved. |\n\n---\n\n### Response\n\n- **Content-Type:** `application/json`\n- Returns a JSON object containing the live pitch lineup details for the specified challenge, including player positions, team assignments, and relevant match data.\n\n---\n\n### Notes\n\n- Ensure the `challengeId` corresponds to an active or ongoing challenge to receive live lineup data.\n- The `{{baseUrl}}` variable should be set to the Kickbase API base URL in your active environment.\n- Authentication may be required — make sure the `token` variable is set in your environment."
      },
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "{{challengeId}}"
        }
      ]
    },
    "/v4/challenges/{challengeId}/lineup/overview": {
      "get": {
        "summary": "GET /v4/challenges/{challengeId}/lineup/overview",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/{challengeId}/lineup/overview",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 09:22:19 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e6095ea33e52d-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "{challengeId}",
          "lineup",
          "overview"
        ],
        "description": "## Get Challenge Lineup Overview\n\nReturns summarized lineup data for a challenge.\n\n### Request\n\n**GET** `/v4/challenges/{challengeId}/lineup/overview`\n\n### Path Variables\n\n| Variable | Description |\n| --- | --- |\n| `challengeId` | Unique identifier of the challenge. |\n\n---\n\n### Response (200 OK)\n\n| Field | Type | Description |\n| --- | --- | --- |\n| `it` | array | List of lineup summaries. |\n\nEach object in `it` contains:\n\n| Field | Type | Description |\n| --- | --- | --- |\n| `sd` | string (ISO Date) | Start date. |\n| `il` | boolean | Indicates locked state. |\n| `col` | string | Display color (hex). |\n| `li` | string | Lineup ID. |\n| `ch` | number | Challenge ID. |\n| `cht` | number | Challenge type. |\n| `n` | string | Challenge name. |\n| `b` | number | Budget. |\n| `cpi` | string | Challenge profile ID. |\n| `f` | string | Image file. |\n| `lpc` | number | Lineup count. |\n| `clpc` | number | Challenge lineup count. |\n| `uc` | number | User count. |\n| `ige` | boolean | Image flag. |\n| `chim` | string | Challenge image path. |"
      },
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "{{challengeId}}"
        }
      ]
    },
    "/v4/challenges/{challengeId}/lineup/selection": {
      "get": {
        "summary": "GET /v4/challenges/{challengeId}/lineup/selection",
        "parameters": [
          {
            "name": "position",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorting",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "playerToBeReplacedById",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GET /v4/challenges/{challengeId}/lineup/selection",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 05 Mar 2026 08:59:14 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d77ec64fcad124d-TXL"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "{challengeId}",
          "lineup",
          "selection"
        ],
        "description": "## Player List for Lineup Selection\n\nRetrieves a list of available players for lineup selection within a specific challenge. Use this endpoint to populate player picker UIs, apply filters by position or search query, and support substitution workflows by specifying a player to be replaced.\n\n---\n\n## Path Variables\n\n| Variable | Description |\n|---|---|\n| `challengeId` | The unique identifier of the challenge for which the lineup selection is being made. |\n\n---\n\n## Query Parameters\n\n| Parameter | Description |\n|---|---|\n| `position` | Filter players by their field position (e.g. goalkeeper, defender, midfielder, forward). |\n| `start` | The offset index for pagination — defines the starting point of the result set. |\n| `query` | A search string to filter players by name or other searchable attributes. |\n| `sorting` | Defines the sort order of the returned player list (e.g. by market value, points, or name). |\n| `playerToBeReplacedById` | The ID of the player currently in the lineup who is being replaced. Used to contextualise the selection. |\n| `max` | The maximum number of players to return in the response (page size). |\n\n---\n\n## Headers\n\n| Header | Value | Description |\n|---|---|---|\n| `Accept` | `application/json` | Specifies that the response should be returned in JSON format. |\n\n---\n\n## Notes\n\n- All query parameters are optional — omitting them returns an unfiltered, default-sorted list.\n- Use `start` and `max` together to implement pagination across large player pools.\n- When performing a substitution, pass `playerToBeReplacedById` to allow the API to apply eligibility or positional constraints relevant to the replacement context."
      },
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "{{challengeId}}"
        }
      ]
    },
    "/v4/challenges/{challengeId}/lineup/teams": {
      "get": {
        "summary": "GET /v4/challenges/{challengeId}/lineup/teams",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/{challengeId}/lineup/teams",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 09:25:46 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e65a5bca48863-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "{challengeId}",
          "lineup",
          "teams"
        ],
        "description": "## Get Challenge Lineup Teams\n\nRetrieves the lineup teams for a specific challenge. Use this endpoint to fetch all teams participating in the lineup of a given challenge.\n\n### Path Variables\n\n| Variable | Description |\n|---|---|\n| `challengeId` | The unique identifier of the challenge for which lineup teams are being retrieved. Uses the `{{challengeId}}` variable. |\n\n### Response\n\nReturns a JSON array/object containing the lineup teams associated with the specified challenge.\n\n> **Content-Type:** `application/json`"
      },
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "{{challengeId}}"
        }
      ]
    },
    "/v4/challenges/{challengeId}/lineup/clear": {
      "post": {
        "summary": "POST /v4/challenges/{challengeId}/lineup/clear",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "v4",
          "challenges",
          "{challengeId}",
          "lineup",
          "clear"
        ],
        "description": "## Clear Challenge Lineup\n\nClears the current lineup for a specific challenge. This resets all player selections associated with the given challenge, leaving the lineup empty.\n\n### Path Variables\n\n| Variable | Description |\n|---|---|\n| `challengeId` | The unique identifier of the challenge whose lineup should be cleared. Uses the `{{challengeId}}` variable. |\n\n### Headers\n\n| Header | Value | Description |\n|---|---|---|\n| `Accept` | `application/json` | Indicates that the client expects a JSON response. |\n\n### Request Body\n\nNo request body is required for this endpoint.\n\n### Notes\n\n- This action is likely **irreversible** — once the lineup is cleared, previously selected players will need to be re-added manually.\n- Ensure the `{{challengeId}}` variable is set in your active environment before sending this request.\n- Authentication via `{{token}}` may be required depending on the API configuration."
      },
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "{{challengeId}}"
        }
      ]
    },
    "/v4/challenges/{challengeId}/lineup/fill": {
      "post": {
        "summary": "POST /v4/challenges/{challengeId}/lineup/fill",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "tags": [
          "v4",
          "challenges",
          "{challengeId}",
          "lineup",
          "fill"
        ],
        "description": "## Fill Challenge Lineup\n\nAutomatically fills the lineup for a specific challenge.\n\n---\n\n### Request\n\n**POST** `/v4/challenges/{challengeId}/lineup/fill`\n\n---\n\n### Path Variables\n\n| Variable | Description |\n| --- | --- |\n| `challengeId` | The unique identifier of the challenge. (Required) |\n\n---\n\n### Headers\n\n| Header | Value | Description |\n| --- | --- | --- |\n| `Accept` | `application/json` | Specifies the expected response format. |\n| `Authorization` | `Bearer {{token}}` | Required authentication token. |\n\n---\n\n### Body\n\nNo request body required.\n\n---\n\n### Response\n\nReturns the generated lineup for the specified challenge. The exact response structure depends on the lineup generation result."
      },
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "{{challengeId}}"
        }
      ]
    },
    "/v4/challenges/{challengeId}/perfectlineup": {
      "get": {
        "summary": "GET /v4/challenges/{challengeId}/perfectlineup",
        "parameters": [
          {
            "name": "seasonId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "2024/2025"
          },
          {
            "name": "matchDay",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "20"
          }
        ],
        "responses": {
          "200": {
            "description": "GET /v4/challenges/{challengeId}/perfectlineup",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 05 Mar 2026 09:24:03 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d7810c44ebee513-TXL"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "{challengeId}",
          "perfectlineup"
        ]
      },
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "{{challengeId}}"
        }
      ]
    },
    "/v4/challenges/{challengeId}/performance": {
      "get": {
        "summary": "GET /v4/challenges/{challengeId}/performance",
        "parameters": [
          {
            "name": "dayNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "GET /v4/challenges/{challengeId}/performance",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 09:31:08 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e6d8398e8236c-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "{challengeId}",
          "performance"
        ],
        "description": "## Get Challenge Performance\n\nRetrieves performance data for a specific challenge and matchday.\n\n---\n\n### Request\n\n**GET** `/v4/challenges/{challengeId}/performance`\n\n---\n\n### Path Variables\n\n| Variable | Description |\n| --- | --- |\n| `challengeId` | The unique identifier of the challenge. (Required) |\n\n---\n\n### Query Parameters\n\n| Parameter | Type | Description |\n| --- | --- | --- |\n| `dayNumber` | number | Matchday number for which performance data should be retrieved. |\n\n---\n\n### Headers\n\n| Header | Value | Description |\n| --- | --- | --- |\n| `Accept` | `application/json` | Specifies the expected response format. |\n| `Authorization` | `Bearer {{token}}` | Required authentication token. |\n\n---\n\n### Response (200 OK)\n\n| Field | Type | Description |\n| --- | --- | --- |\n| `lp` | array | List of lineup players for the given matchday. |\n| `t` | number | Challenge type or matchday type indicator. |\n| `li` | string | Lineup ID. |\n| `u` | object | User information. |\n| `clpc` | number | Challenge lineup count. |\n\n---\n\n### `u` Object\n\n| Field | Type | Description |\n| --- | --- | --- |\n| `i` | string | User ID. |\n| `n` | string | Username. |\n| `uim` | string | Relative path to the user image. |\n| `isvf` | boolean | Visibility flag. |\n| `st` | number | Status indicator. |\n\n---\n\n### Example Response\n\n``` json\n{\n  \"lp\": [],\n  \"t\": 2,\n  \"li\": \"10009155\",\n  \"u\": {\n    \"i\": \"123\",\n    \"n\": \"abc\",\n    \"uim\": \"user/123abc.png\",\n    \"isvf\": false,\n    \"st\": 0\n  },\n  \"clpc\": 11\n}\n\n ```"
      },
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "{{challengeId}}"
        }
      ]
    },
    "/v4/challenges/{challengeId}/profile": {
      "get": {
        "summary": "GET /v4/challenges/{challengeId}/profile",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/{challengeId}/profile",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 09:32:37 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e6fadcdb34ae6-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "{challengeId}",
          "profile"
        ],
        "description": "## Get Challenge Profile\n\nRetrieves the profile and details of a specific challenge identified by its unique `challengeId`. Use this endpoint to fetch metadata and configuration details associated with a given challenge.\n\n---\n\n## Parameters\n\n| Name | Type | Location | Required | Description |\n| --- | --- | --- | --- | --- |\n| `challengeId` | string | path | ✅ Yes | The unique identifier of the challenge. Resolved via the `{{challengeId}}` variable. |\n\n---\n\n## Authentication\n\nThis endpoint requires a **Bearer Token**. Include the token in the `Authorization` header:\n\n```\nAuthorization: Bearer {{token}}\n\n ```\n\nThe `{{token}}` variable should be set in your active environment (e.g., **Kickbase v4**).\n\n---\n\n## Request Headers\n\n| Header | Value |\n| --- | --- |\n| `Accept` | `application/json` |\n\n---\n\n## Example Response\n\n``` json\n{\n  \"id\": \"abc123\",\n  \"name\": \"Weekly Challenge\",\n  \"description\": \"Compete against others in this week's challenge.\",\n  \"startDate\": \"2024-01-01T00:00:00Z\",\n  \"endDate\": \"2024-01-07T23:59:59Z\",\n  \"status\": \"active\",\n  \"participants\": 128,\n  \"prize\": {\n    \"type\": \"coins\",\n    \"amount\": 5000\n  }\n}\n\n ```\n\n> **Note:** The exact response structure may vary. Refer to saved examples on this request for documented response shapes."
      },
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "required": true,
          "description": "(Required) ",
          "schema": {
            "type": "string"
          },
          "example": "{{challengeId}}"
        }
      ]
    },
    "/v4/challenges/{challengeId}/ranking": {
      "get": {
        "summary": "GET /v4/challenges/{challengeId}/ranking",
        "parameters": [
          {
            "name": "dayNumber",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "GET /v4/challenges/{challengeId}/ranking",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 26 Feb 2026 09:33:54 GMT"
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "chunked"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "keep-alive"
              },
              "CF-RAY": {
                "schema": {
                  "type": "string"
                },
                "example": "9d3e71918fd7e51f-TXL"
              },
              "cache-control": {
                "schema": {
                  "type": "string"
                },
                "example": "no-store, no-cache"
              },
              "content-encoding": {
                "schema": {
                  "type": "string"
                },
                "example": "br"
              },
              "vary": {
                "schema": {
                  "type": "string"
                },
                "example": "Accept-Encoding"
              },
              "cf-cache-status": {
                "schema": {
                  "type": "string"
                },
                "example": "DYNAMIC"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "cloudflare"
              }
            }
          }
        },
        "tags": [
          "v4",
          "challenges",
          "{challengeId}",
          "ranking"
        ],
        "description": "## Get Challenge Ranking\n\nRetrieves the ranking for a specific challenge and matchday.\n\n---\n\n### Request\n\n**GET** `/v4/challenges/{challengeId}/ranking`\n\n---\n\n### Path Variables\n\n| Variable | Description |\n| --- | --- |\n| `challengeId` | The unique identifier of the challenge. (Required) |\n\n---\n\n### Query Parameters\n\n| Parameter | Type | Description |\n| --- | --- | --- |\n| `dayNumber` | number | Matchday number for which ranking data should be retrieved. |\n\n---\n\n### Headers\n\n| Header | Value | Description |\n| --- | --- | --- |\n| `Accept` | `application/json` | Specifies the expected response format. |\n| `Authorization` | `Bearer {{token}}` | Required authentication token. |\n\n---\n\n### Response (200 OK)\n\n| Field | Type | Description |\n| --- | --- | --- |\n| `tom` | array | Ranking entries (empty if no ranking data available). |\n| `t` | number | Ranking type indicator. |\n| `li` | string | Lineup or league instance ID. |\n| `chn` | string | Challenge name. |\n| `skp` | number | Skip indicator. |\n| `clpc` | number | Challenge lineup player count. |\n\n---\n\n### Example Response\n\n``` json\n{\n  \"tom\": [],\n  \"t\": 2,\n  \"li\": \"10009155\",\n  \"chn\": \"Bundesliga Matchday Challenge #24\",\n  \"skp\": 0,\n  \"clpc\": 11\n}\n\n ```"
      },
      "parameters": [
        {
          "name": "challengeId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "{{challengeId}}"
        }
      ]
    },
    "/v4/challenges/{challengeId}/table/{userId}": {
      "get": {
        "summary": "GET /v4/challenges/{challengeId}/table/{userId}",
        "responses": {
          "200": {
            "description": "GET /v4/challenges/{challengeId}/table/{userId}",
            "headers": {
              "Date": {
[...]
