openapi: 3.0.0
info:
  title: Kickbase API
  version: 4.5.0
  description: Unofficial Kickbase API Specification
servers:
  - url: 'https://api.kickbase.com'
paths:
  '/v4/challenges/favorites/{favoriteUserId}':
    delete:
      summary: 'DELETE /v4/challenges/favorites/{favoriteUserId}'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
        - v4
        - challenges
        - favorites
        - '{favoriteUserId}'
      description: >-
        # Remove Manager From Favorites


        This endpoint removes a manager from the authenticated user's favorites
        list in the Kickbase challenges system.


        ## Path Parameters


        | Parameter | Type | Required | Description |

        | --- | --- | --- | --- |

        | `favoriteUserId` | integer | Yes | The unique ID of the manager to
        remove from your favorites list |


        **Example:** `1234`


        ## Authentication


        This endpoint requires authentication using a **Bearer Token**. Include
        your access token in the Authorization header:


        ```

        Authorization: Bearer {{token}}

         ```

        The token should be obtained through the authentication flow and stored
        in your environment variables.


        ## Request Headers


        - `Accept: application/json` - Specifies the expected response format
        
        
        ## Responses


        ### Success Response (200 OK)


        The manager has been successfully removed from your favorites list. The
        response will confirm the removal operation.


        ### Error Response (400 Bad Request)


        The request failed due to invalid input. Common causes include:


        - Invalid or non-existent `favoriteUserId`
        
        - Manager is not currently in your favorites list
        
        - Malformed request parameters
        
        
        ## Usage Notes


        - You can only remove managers that are currently in your favorites list
        
        - The `favoriteUserId` must correspond to a valid manager in the system
        
        - This operation is idempotent - attempting to remove a manager that's
        not in your favorites will result in a 400 error
        
        - Ensure your authentication token is valid and has not expired before
        making the request
        
        
        ## Best Practices


        1. **Verify the manager ID** before attempting removal to avoid
        unnecessary error responses
        
        2. **Handle errors gracefully** by checking for 400 status codes and
        providing user-friendly feedback
        
        3. **Refresh your token** if you receive authentication errors
        
        4. **Check your favorites list** after removal to confirm the operation
        succeeded
    parameters:
      - name: favoriteUserId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: integer
        example: '1234'
  /v4/challenges/favorites:
    post:
      summary: POST /v4/challenges/favorites
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
        - v4
        - challenges
        - favorites
      description: >-
        # Add Manager to Favorites


        ## Overview


        This endpoint allows you to add a manager or user to your favorites list
        in the Kickbase application. By marking a manager as a favorite, you can
        quickly access and track their performance throughout the season.


        ## Authentication


        This endpoint requires authentication using a Bearer token. Include your
        access token in the Authorization header:


        ```

        Authorization: Bearer {{token}}

         ```

        The `{{token}}` variable should be set in your environment with a valid
        access token obtained through the Kickbase authentication flow.


        ## Request Body


        The request body must be sent as JSON with the following parameter:


        | Parameter | Type | Required | Description |

        | --- | --- | --- | --- |

        | `ui` | string | Yes | The unique identifier of the user/manager you
        want to add to favorites. This should be a valid user ID from the
        Kickbase system. |


        ### Example Request Body


        ``` json

        {
          "ui": "1234"
        }

         ```

        ## Responses


        ### Success Response (200 OK)


        The manager has been successfully added to your favorites list. See the
        "200" example for the complete response structure.


        ### Error Response (400 Bad Request)


        The request failed due to invalid input or business logic constraints.
        This may occur if:


        - The `ui` parameter is missing or invalid
        
        - The user ID does not exist
        
        - The manager is already in your favorites
        
        - You've reached the maximum number of favorites allowed
        
        
        See the "400" example for the error response structure.


        ## Usage Notes


        - Ensure the user ID (`ui`) corresponds to a valid manager in the
        Kickbase system
        
        - Check your current favorites list before adding to avoid duplicate
        entries
        
        - The endpoint is part of the challenges feature set in Kickbase v4 API
        
        - Rate limiting may apply - refer to the API's general rate limit
        documentation
        
        
        ## Related Endpoints


        You may also want to explore:


        - GET /v4/challenges/favorites - Retrieve your current favorites list
        
        - DELETE /v4/challenges/favorites/{ui} - Remove a manager from favorites
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ui:
                  type: string
                  format: utc-millisec
            example:
              ui: '1234'
  '/v4/challenges/socialhub/{followedUserId}':
    delete:
      summary: 'DELETE /v4/challenges/socialhub/{followedUserId}'
      responses:
        default:
          description: ''
      tags:
        - v4
        - challenges
        - socialhub
        - '{followedUserId}'
      description: >-
        Removes (unfollows) a user from the Social Hub within the challenges
        context. This endpoint deletes the social connection between the
        authenticated user and the specified followed user.


        ## Path Variables


        | Variable | Type | Description |

        |---|---|---|

        | `followedUserId` | string | The unique ID of the user to unfollow.
        Example: `123` |


        ## Headers


        | Key | Value | Description |

        |---|---|---|

        | `Accept` | `application/json` | Specifies that the response should be
        returned in JSON format |


        ## Response


        On success, the server returns a response confirming the user has been
        unfollowed. If the specified `followedUserId` does not exist or the
        authenticated user is not following them, an appropriate error response
        is returned.
    parameters:
      - name: followedUserId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: integer
        example: '123'
  /v4/challenges/socialhub/invitation:
    get:
      summary: GET /v4/challenges/socialhub/invitation
      responses:
        '200':
          description: GET /v4/challenges/socialhub/invitation
          headers:
            Date:
              schema:
                type: string
              example: 'Mon, 02 Mar 2026 10:42:41 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d5fcbd14e98469d-TXL
            Cache-Control:
              schema:
                type: string
              example: 'no-store, no-cache'
            Content-Encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - socialhub
        - invitation
      description: >-
        ## Get SocialHub Challenge Invitation


        Retrieves the current user's invitation details for a SocialHub
        challenge. This endpoint is used to check whether the authenticated user
        has a pending or active invitation to participate in a SocialHub
        challenge.


        ### Authentication


        This request requires a valid authentication token. Set the `token`
        variable in your active environment before sending.


        ### Request Headers


        | Header | Value |

        |--------|-------|

        | `Accept` | `application/json` |


        ### Path / Variables


        | Variable | Description |

        |----------|-------------|

        | `baseUrl` | The base URL of the Kickbase API (e.g.
        `https://api.kickbase.com`) |


        ### Response


        **200 OK** — Returns the SocialHub challenge invitation details for the
        authenticated user.


        ```json

        {}

        ```


        > **Note:** A `200` response with an empty body (`{}`) may indicate that
        no active invitation exists, or that the invitation data is not yet
        available.
  /v4/challenges/socialhub/search:
    get:
      summary: GET /v4/challenges/socialhub/search
      parameters:
        - name: start
          in: query
          schema:
            type: string
        - name: max
          in: query
          schema:
            type: string
        - name: query
          in: query
          schema:
            type: string
      responses:
        '200':
          description: GET /v4/challenges/socialhub/search
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 08:30:10 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e14237ed61550-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - socialhub
        - search
      description: >-
        ## Search Social Hub Challenges


        Search for public Social Hub challenges available on the Kickbase
        platform. This endpoint allows you to find challenges by keyword and
        supports pagination through the results.


        ---


        ### Authentication


        This request inherits **Bearer Token** authentication from the
        collection. The `{{token}}` variable must be set in your active
        environment with a valid access token obtained after login.


        ```

        Authorization: Bearer {{token}}

         ```

        ---


        ### Headers


        | Key | Value | Description |

        | --- | --- | --- |

        | `Accept` | `application/json` | Specifies that the response should be
        returned as JSON. |


        ---


        ### Query Parameters


        | Parameter | Type | Required | Description |

        | --- | --- | --- | --- |

        | `start` | integer | No | The zero-based offset for pagination. Use
        this to skip a number of results and retrieve the next page. |

        | `max` | integer | No | The maximum number of results to return per
        page. |

        | `query` | string | No | A search keyword to filter challenges by name
        or other relevant fields. Leave empty to retrieve all available
        challenges. |


        ---


        ### Example Response


        A successful `200 OK` response returns a list of matching Social Hub
        challenges:


        ``` json

        {
            "it": [
                {
                    "ui": "123",
                    "unm": "abc",
                    "dvim": "content/file/123abc.png",
                    "uim": "user/123abc.jpeg",
                    "ipic": true
                }
            ]
        }

         ```

        | Field | Description |

        | --- | --- |

        | `it` | Array of challenge/user result items. |

        | `ui` | User/challenge identifier. |

        | `unm` | Username or challenge name. |

        | `dvim` | Default/cover image path. |

        | `uim` | User profile image path. |

        | `ipic` | Boolean indicating whether a profile picture is set. |
  /v4/challenges/socialhub:
    get:
      summary: GET /v4/challenges/socialhub
      parameters:
        - name: start
          in: query
          schema:
            type: string
        - name: max
          in: query
          schema:
            type: string
      responses:
        '200':
          description: GET /v4/challenges/socialhub
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 08:31:42 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e167158bff56c-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - socialhub
      description: >-
        ## GET Social Hub Challenges


        Retrieves a list of **Social Hub challenges** from the Kickbase fantasy
        football platform. Social Hub challenges are community-based challenges
        that players can participate in within the game.


        ---


        ### Authentication


        This endpoint requires a valid bearer token. Include the token in the
        `Authorization` header:


        ```

        Authorization: Bearer {{token}}

        ```


        ---


        ### Query Parameters


        | Parameter | Type    | Required |
        Description                                              |

        |-----------|---------|----------|----------------------------------------------------------|

        | `start`   | integer | No       | Pagination offset — the index of the
        first result to return. Defaults to `0` if omitted. |

        | `max`     | integer | No       | Maximum number of results to return
        per page. Use in combination with `start` for pagination. |


        ---


        ### Headers


        | Header   | Value              |

        |----------|--------------------|

        | `Accept` | `application/json` |


        ---


        ### Example Request


        ```

        GET {{baseUrl}}/v4/challenges/socialhub?start=0&max=20

        ```


        ---


        ### Response


        Returns a JSON object containing the list of Social Hub challenges. Use
        the `start` and `max` parameters to paginate through large result sets.
    post:
      summary: POST /v4/challenges/socialhub
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
        - v4
        - challenges
        - socialhub
      description: >-
        ## Post to Social Hub Challenge


        Submits a request to the Social Hub challenge endpoint.


        **Endpoint:** `POST {{baseUrl}}/v4/challenges/socialhub`


        ### Headers


        | Key | Value |

        | --- | --- |

        | `Content-Type` | `application/json` |

        | `Accept` | `application/json` |


        ### Request Body


        ``` json

        {
          "ui": "123"
        }

         ```

        | Field | Type | Description |

        | --- | --- | --- |

        | `ui` | `string` | The UI identifier associated with the social hub
        challenge submission. |


        ### Authentication


        This request requires a valid `token` variable to be set in the active
        environment (e.g., **Kickbase v4**). Ensure `baseUrl` is also configured
        to point to the correct API base URL.


        ### Notes


        - The request body must be valid JSON.
        
        - The `token` variable is expected to be set prior to sending this
        request (e.g., via a login/authentication request).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ui:
                  type: string
                  format: color
            example:
              ui: '123'
  /v4/challenges/archive:
    get:
      summary: GET /v4/challenges/archive
      responses:
        '200':
          description: GET /v4/challenges/archive
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 08:33:27 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e19043a2c889c-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - archive
      description: >-
        ## GET /v4/challenges/archive


        Retrieves a list of **archived (past/completed) challenges** from the
        Kickbase API.


        ### Description


        This endpoint returns all challenges that have already ended or been
        completed. Use it to browse historical challenge data, review past
        results, or display a challenge history to users.


        ### Request


        | Property | Value |

        |----------|-------|

        | Method | `GET` |

        | URL | `{{baseUrl}}/v4/challenges/archive` |


        #### Headers


        | Key | Value | Description |

        |-----|-------|-------------|

        | `Accept` | `application/json` | Specifies that the response should be
        returned in JSON format. |


        ### Response


        Returns a JSON object or array containing archived challenge entries.
        Each challenge typically includes details such as the challenge ID,
        name, dates, and final standings or results.


        ### Notes


        - This endpoint only returns **past/completed** challenges. For active
        or upcoming challenges, use the appropriate challenges endpoint.

        - Ensure the `{{baseUrl}}` variable is set correctly in your active
        environment (e.g., `Kickbase v4`).

        - Authentication may be required — make sure the `token` variable is set
        in your environment and passed via the appropriate auth header or
        mechanism.
  /v4/challenges/lobby/archive:
    get:
      summary: GET /v4/challenges/lobby/archive
      responses:
        '200':
          description: GET /v4/challenges/lobby/archive
          headers:
            Date:
              schema:
                type: string
              example: 'Tue, 03 Mar 2026 14:12:58 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d693d3af9c7d81e-TXL
            Cache-Control:
              schema:
                type: string
              example: 'no-store, no-cache'
            Content-Encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - lobby
        - archive
      description: >-
        ## GET /v4/challenges/lobby/archive


        Retrieves a list of **archived (past) lobby challenges**. This endpoint
        returns previously completed challenge seasons and their associated
        matchday challenges, grouped by season and calendar week.


        ### Response Structure


        The response contains a top-level `it` array, where each entry
        represents a **season group** with the following fields:


        | Field | Description |

        |-------|-------------|

        | `wn` | Calendar week number |

        | `csy` | Challenge season year (e.g. `"2025"`) |

        | `it` | Array of individual challenges within this season/week |


        Each challenge object inside `it` includes:


        | Field | Description |

        |-------|-------------|

        | `ch` | Challenge ID |

        | `chn` | Challenge name (e.g. `"Bundesliga Matchday Challenge #24"`) |

        | `chim` | Challenge image path |

        | `col` | Accent color (hex) associated with the challenge |

        | `p` | Points scored |

        | `top` | Top percentile rank achieved |

        | `skp` | Score/points delta (can be negative) |

        | `sid` | Season ID |

        | `day` | Matchday number |

        | `li` | League instance ID |

        | `cpi` | Challenge participation ID |

        | `cht` | Challenge type |

        | `clpc` | Challenge leaderboard position count |

        | `ispd` | Whether the challenge is paid/premium (`boolean`) |


        ### Notes

        - Requires a valid `token` in the active environment for authentication.

        - Results are ordered by season and week, making it useful for reviewing
        historical challenge performance.
  /v4/challenges/lobby/divisionLadder:
    get:
      summary: GET /v4/challenges/lobby/divisionLadder
      responses:
        '200':
          description: GET /v4/challenges/lobby/divisionLadder
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 08:36:27 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e1d68ade63314-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - lobby
        - divisionLadder
      description: >-
        ## GET Division Ladder — Challenges Lobby


        Retrieves the **division ladder** for the challenges lobby in Kickbase.
        This endpoint returns the ranked standings of players or teams within
        their respective division, as part of the challenges feature.


        ### Use Case


        Use this endpoint to display the current division rankings in the
        challenges lobby — useful for showing a user's position relative to
        other competitors in their division during an active challenge season.


        ### Authentication


        This request requires a valid bearer token. Set the `token` variable in
        your active environment:


        ```

        Authorization: Bearer {{token}}

        ```


        ### Request


        | Property | Value |

        |----------|-------|

        | Method   | `GET` |

        | URL      | `{{baseUrl}}/v4/challenges/lobby/divisionLadder` |


        **Headers**


        | Key | Value |

        |-----|-------|

        | `Accept` | `application/json` |


        ### Variables


        | Variable | Description |

        |----------|-------------|

        | `baseUrl` | The base URL of the Kickbase API (e.g.
        `https://api.kickbase.com`) |

        | `token`   | A valid authentication token obtained after login |


        ### Response


        Returns a JSON object containing the division ladder, including ranked
        entries with user/team details and their scores or points within the
        current challenge division.


        > See the saved example **"GET /v4/challenges/lobby/divisionLadder"**
        for a sample response.
  '/v4/challenges/lobby/explore/{challengeId}':
    get:
      summary: 'GET /v4/challenges/lobby/explore/{challengeId}'
      responses:
        '200':
          description: 'GET /v4/challenges/lobby/explore/{challengeId}'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 08:38:33 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e207ded81e523-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - lobby
        - explore
        - '{challengeId}'
      description: >-
        ## GET Challenge Lobby Details


        Retrieves details about a specific challenge lobby by its ID from the
        Kickbase API. Use this endpoint to explore the lobby information for a
        given challenge.


        ---


        ### Path Variables


        | Variable | Description |

        |---|---|

        | `challengeId` | The unique ID of the challenge to explore |


        ---


        ### Authentication


        This request requires a bearer token passed via the `{{token}}`
        variable:


        ```

        Authorization: Bearer {{token}}

        ```


        ---


        ### Response


        Returns a JSON object containing the details of the specified challenge
        lobby.


        - **Content-Type:** `application/json`
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: integer
        example: '1'
  /v4/challenges/lobby/explore:
    get:
      summary: GET /v4/challenges/lobby/explore
      responses:
        '200':
          description: GET /v4/challenges/lobby/explore
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 08:37:50 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e1f705ce0e523-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - lobby
        - explore
      description: >-
        ## Explore Challenge Lobby


        Returns publicly available challenge lobby data for exploration,
        including available competitions (`cps`), sponsored challenges (`spo`),
        and slug-based challenges (`slg`). This endpoint is used to populate the
        challenge discovery/explore screen.


        ---


        ### Method & URL


        ```

        GET {{baseUrl}}/v4/challenges/lobby/explore

        ```


        ---


        ### Authentication


        This request uses **Bearer Token** authentication inherited from the
        collection. The `{{token}}` variable must be set in the active
        environment with a valid user token.


        ```

        Authorization: Bearer {{token}}

        ```


        ---


        ### Headers


        | Key | Value | Description |

        | --- | --- | --- |

        | `Accept` | `application/json` | Specifies that the response should be
        in JSON format |


        ---


        ### Query Parameters


        None.


        ---


        ### Example Response — `200 OK`


        ```json

        {
            "cps": [
                {
                    "i": "1",
                    "n": "Bundesliga",
                    "cpim": "content/file/2beed7fec3534109a0cc13adfc372f8b.png"
                }
            ],
            "spo": [
                {
                    "ch": "699",
                    "f": "content/file/26141186164840828a6a72fa47e5a1c3.jpe",
                    "t": 2,
                    "sd": "2026-02-27T19:30:00Z",
                    "isn": false,
                    "il": false
                }
            ],
            "slg": []
        }

        ```


        ### Response Fields


        **`cps`** — Array of available competitions


        | Field | Type | Description |

        | --- | --- | --- |

        | `i` | string | Competition ID |

        | `n` | string | Competition name (e.g. `"Bundesliga"`) |

        | `cpim` | string | Relative path to the competition image |


        **`spo`** — Array of sponsored/featured challenges


        | Field | Type | Description |

        | --- | --- | --- |

        | `ch` | string | Challenge ID |

        | `f` | string | Relative path to the challenge image/thumbnail |

        | `t` | number | Challenge type identifier |

        | `sd` | string (ISO 8601) | Challenge start date/time in UTC |

        | `isn` | boolean | Whether the challenge is new |

        | `il` | boolean | Whether the challenge is locked |


        **`slg`** — Array of slug-based challenges (empty if none available)
  /v4/challenges/lobby/overview/live:
    get:
      summary: GET /v4/challenges/lobby/overview/live
      responses:
        '200':
          description: GET /v4/challenges/lobby/overview/live
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 08:40:18 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e230ba9f6e52f-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - lobby
        - overview
        - live
      description: >-
        ## GET Live Challenge Lobby Overview


        Retrieves the **live overview** of the challenge lobby, providing
        real-time data about currently active challenges.


        ### Endpoint


        ```

        GET {{baseUrl}}/v4/challenges/lobby/overview/live

        ```


        ### Authentication


        This request requires a valid bearer token passed via the `{{token}}`
        variable. Ensure the token is set in your active environment before
        sending the request.


        ### Request Headers


        | Header | Value | Description |

        |--------|-------|-------------|

        | `Accept` | `application/json` | Specifies that the response should be
        in JSON format |


        ### Variables


        | Variable | Description |

        |----------|-------------|

        | `{{baseUrl}}` | The base URL of the Kickbase API (e.g.,
        `https://api.kickbase.com`) |

        | `{{token}}` | The authentication token obtained after login |


        ### Response


        Returns a JSON object containing the live challenge lobby overview,
        including details about ongoing challenges available to the user.


        ### Notes


        - This endpoint reflects **live/real-time** data and may change
        frequently during active challenge periods.

        - Make sure the `Kickbase v4` environment is active and the `token`
        variable is populated (e.g., by running the login request first).
  /v4/challenges/lobby/overview:
    get:
      summary: GET /v4/challenges/lobby/overview
      responses:
        '200':
          description: GET /v4/challenges/lobby/overview
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 08:40:46 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e23b7aba1e52f-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - lobby
        - overview
      description: >-
        ## GET Challenges Lobby Overview


        Retrieves a summary overview of the challenges lobby, providing
        high-level information about available and active challenges.


        ### Request


        | Property | Value |

        |----------|-------|

        | Method | `GET` |

        | Endpoint | `/v4/challenges/lobby/overview` |


        ### Headers


        | Key | Value | Description |

        |-----|-------|-------------|

        | `Accept` | `application/json` | Specifies that the response should be
        returned in JSON format |


        ### Authentication


        This request requires a valid bearer token. Set the `token` variable in
        your environment:


        ```

        Authorization: Bearer {{token}}

        ```


        ### Response


        Returns a JSON object containing an overview of the challenges lobby.
        This typically includes:


        - A list of currently available challenges

        - Summary statistics (e.g., number of active challenges, participants)

        - Lobby status and metadata


        ### Example


        A saved example is available — **GET /v4/challenges/lobby/overview** —
        demonstrating a typical successful response from this endpoint.


        ### Notes


        - Ensure `baseUrl` and `token` are set in your active environment
        (`Kickbase v4`) before sending this request.

        - The `challengeId` variable can be used in related challenge endpoints
        to drill down into specific challenge details.
  /v4/challenges/lobby/profile:
    get:
      summary: GET /v4/challenges/lobby/profile
      responses:
        '200':
          description: GET /v4/challenges/lobby/profile
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 08:42:51 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e26c60e1823ee-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - lobby
        - profile
      description: >-
        Retrieves the authenticated user's challenge lobby profile, including
        their current division, season information, and challenge participation
        stats.


        ## Authentication


        Requires a Bearer token passed via the `{{token}}` variable, inherited
        from the collection-level auth.


        ## Response Structure


        | Field | Type | Description |

        |-------|------|-------------|

        | `u` | object | User info object |

        | `u.ui` | string | User ID |

        | `u.unm` | string | Username |

        | `u.uim` | string | User profile image path |

        | `dv` | object | Division info object |

        | `dv.dvi` | string | Division ID |

        | `dv.dvn` | string | Division name (e.g. `"Beginner III"`) |

        | `dv.dvim` | string | Division image path |

        | `dv.prl` | number | Promotion/relegation level indicator |

        | `dv.hdvn` | string | Human-readable division name |

        | `n` | string | Season name |

        | `sd` | string (ISO 8601) | Season start date |

        | `ed` | string (ISO 8601) | Season end date |

        | `skp` | number | Skips used |

        | `avskp` | number | Available skips remaining |

        | `ap` | number | Activity points |

        | `chc` | number | Challenge count |


        ## Example Response


        ```json

        {
            "u": {
                "ui": "123",
                "unm": "abc",
                "uim": "user/abc123.png"
            },
            "dv": {
                "dvi": "30",
                "dvn": "Beginner III",
                "dvim": "content/file/07f6df4b10ba4fff9268d7a93afe0182.png",
                "prl": 0,
                "hdvn": "Beginner III"
            },
            "n": "Season ",
            "sd": "2025-06-30T22:00:00Z",
            "ed": "2026-06-29T22:00:00Z",
            "skp": 0,
            "avskp": 0,
            "ap": 0,
            "chc": 0
        }

        ```
  /v4/challenges/lobby/skillPoints/summary:
    get:
      summary: GET /v4/challenges/lobby/skillPoints/summary
      responses:
        '200':
          description: GET /v4/challenges/lobby/skillPoints/summary
          headers:
            Date:
              schema:
                type: string
              example: 'Wed, 04 Mar 2026 10:19:08 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d7024103b21d81e-TXL
            Cache-Control:
              schema:
                type: string
              example: 'no-store, no-cache'
            Content-Encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - lobby
        - skillPoints
        - summary
      description: >-
        ## Get Skill Points Summary


        Retrieves the skill points summary for the authenticated user in the
        Challenges lobby.


        > &lt;p &gt;Note: No response body was available in the provided
        account. The structure below documents the request shape (method, URL,
        auth, headers, params).&lt;/p&gt; 
        
        
        ### Endpoint


        ``` id="s2k9vm"

        GET /v4/challenges/lobby/skillPoints/summary

         ```

        ### Authentication


        This endpoint requires authentication using a Bearer token.


        ``` id="a6m3qt"

        Authorization: Bearer {{token}}

         ```

        ### Headers


        | Header | Value | Description |

        | --- | --- | --- |

        | `Accept` | `application/json` | Specifies the expected response
        format. |


        ### Path Variables


        This endpoint does **not** require any path variables.


        ### Query Parameters


        This endpoint does **not** require any query parameters.


        ### Request Body


        This endpoint does **not** require a request body.


        ### Response


        Response payload not available yet (depends on account/state).
  /v4/challenges/lobby/skillPoints/collect:
    post:
      summary: POST /v4/challenges/lobby/skillPoints/collect
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
        - v4
        - challenges
        - lobby
        - skillPoints
        - collect
      description: >-
        Collects accumulated skill points for the authenticated user in the
        challenges lobby.


        This endpoint triggers the collection of skill points that the user has
        earned through challenge participation in the lobby. Once called, the
        pending skill points are credited to the user's account.


        ## Authentication


        Requires a valid Bearer token:

        ```

        Authorization: Bearer {{token}}

        ```


        ## Request


        No request body is required.


        ## Response


        Returns a JSON response confirming the collection of skill points.


        ## Notes

        - Skill points can be reviewed beforehand using the `GET
        /v4/challenges/lobby/skillPoints/summary` endpoint.

        - The `{{baseUrl}}` and `{{token}}` variables must be set in the active
        environment (e.g., *Kickbase v4*).
  /v4/challenges/overview:
    get:
      summary: GET /v4/challenges/overview
      responses:
        '200':
          description: GET /v4/challenges/overview
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 08:45:19 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e2a64684de52a-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - overview
  /v4/challenges/recommended:
    get:
      summary: GET /v4/challenges/recommended
      responses:
        '200':
          description: GET /v4/challenges/recommended
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 08:46:09 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e2b9ceffbe52a-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - recommended
      description: >-
        ## Get Recommended Challenges


        Retrieves a list of recommended challenges.


        ---


        ### Request


        **GET** `/v4/challenges/recommended`


        ---


        ### Headers


        | Header | Value | Description |

        | --- | --- | --- |

        | `Accept` | `application/json` | Specifies the expected response
        format. |

        | `Authorization` | `Bearer {{token}}` | Required authentication token.
        |


        ---


        ### Response (200 OK)


        | Field | Type | Description |

        | --- | --- | --- |

        | `it` | array | List of recommended challenge items. |


        ---


        ### `it` Object


        | Field | Type | Description |

        | --- | --- | --- |

        | `ch` | string | Challenge ID. |

        | `fb` | string | File path to preview/banner image. |

        | `lis` | string (ISO 8601) | Start date/time of the challenge. |

        | `chim` | string | File path to challenge header image. |


        ---


        ### Example Response


        ``` json

        {
          "it": [
            {
              "ch": "705",
              "fb": "content/file/1236a6c8ade94c85b03ba63f240079cf.jpe",
              "lis": "2026-02-27T19:30:00Z",
              "chim": "content/file/1236a6c8ade94c85b03ba63f240079cf.jpe"
            }
          ]
        }

         ```
  /v4/challenges/selection:
    get:
      summary: GET /v4/challenges/selection
      responses:
        '200':
          description: GET /v4/challenges/selection
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 08:47:00 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e2cde2c77e52a-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - selection
      description: >-
        ## Get Challenge Selection


        Retrieves the current challenge selection available to the authenticated
        user. This endpoint returns the set of challenges that the user can
        choose from or participate in, typically used to populate a challenge
        selection screen in the Kickbase app.


        **Endpoint:** `GET {{baseUrl}}/v4/challenges/selection`


        ---


        ### Authentication


        This request uses **Bearer Token** authentication, inherited from the
        collection level. The token is stored in the `{{token}}` variable and
        must be a valid session token obtained via the login endpoint.


        ```

        Authorization: Bearer {{token}}

        ```


        > Set the `token` variable in the **Kickbase v4** environment before
        sending this request.


        ---


        ### Request Headers


        | Key | Value | Description |

        | --- | --- | --- |

        | `Accept` | `application/json` | Indicates that the client expects a
        JSON response |


        ---


        ### Path Variables


        None.


        ---


        ### Query Parameters


        None.


        ---


        ### Response Format


        Returns a JSON object containing the available challenge selection data.
        The response is consistent with the broader challenges API, which
        includes challenge metadata such as IDs, titles, lineup configuration,
        and status information.


        **Success — `200 OK`**


        ```json

        {
          // Challenge selection data
        }

        ```


        Refer to the saved example **GET /v4/challenges/selection** for a full
        sample response payload.


        ---


        ### Related Endpoints


        | Method | Endpoint | Description |

        | --- | --- | --- |

        | `GET` | `/v4/challenges/overview` | Get an overview of all challenges
        |

        | `GET` | `/v4/challenges/lobby/overview/live` | Get the live challenge
        lobby overview |

        | `GET` | `/v4/challenges/{challengeId}/lineup/teams` | Get lineup teams
        for a specific challenge |

        | `POST` | `/v4/challenges/{challengeId}/lineup/fill` | Fill the lineup
        for a specific challenge |
  '/v4/challenges/{challengeId}/favorites/search':
    get:
      summary: 'GET /v4/challenges/{challengeId}/favorites/search'
      parameters:
        - name: query
          in: query
          schema:
            type: string
        - name: start
          in: query
          schema:
            type: string
        - name: max
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'GET /v4/challenges/{challengeId}/favorites/search'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 08:50:09 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e317adfbde522-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - favorites
        - search
      description: >-
        ## Search Favorite Managers in a Challenge


        Searches for favorite managers within a specific challenge. Returns a
        filtered list of favorited managers matching the given search criteria.


        **Method:** `GET`  

        **Endpoint:** `{{baseUrl}}/v4/challenges/:challengeId/favorites/search`


        ---


        ### Path Variables


        | Variable | Description |

        |---|---|

        | `challengeId` | The unique identifier of the challenge to search
        favorites in. |


        ---


        ### Query Parameters


        | Parameter | Description |

        |---|---|

        | `query` | The search term used to filter favorite managers by name or
        other attributes. |

        | `start` | Pagination offset — the index of the first result to return.
        |

        | `max` | The maximum number of results to return per page. |


        ---


        ### Headers


        | Key | Value |

        |---|---|

        | `Accept` | `application/json` |


        ---


        ### Response


        Returns a JSON response containing the list of favorite managers that
        match the search criteria within the specified challenge.
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/favorites':
    get:
      summary: 'GET /v4/challenges/{challengeId}/favorites'
      parameters:
        - name: scope
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'GET /v4/challenges/{challengeId}/favorites'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 09:19:48 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e5ceaead7f56c-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - favorites
      description: >-
        ## GET Challenge Favorites


        Retrieves the list of favorites for a specific challenge, identified by
        `challengeId`.


        ### Path Variables


        | Variable | Description |

        |---|---|

        | `challengeId` | The unique identifier of the challenge. Uses the
        `{{challengeId}}` variable. |


        ### Query Parameters


        | Parameter | Required | Description |

        |---|---|---|

        | `scope` | Optional | Filters the favorites returned. Leave empty to
        retrieve all favorites for the challenge. |


        ### Headers


        | Header | Value |

        |---|---|

        | `Accept` | `application/json` |


        ### Response


        Returns a JSON object containing the favorites associated with the given
        challenge. The response shape may vary depending on the `scope` filter
        applied.


        ### Example


        A saved example is available for this endpoint demonstrating a typical
        response for `GET /v4/challenges/{challengeId}/favorites`. Refer to the
        example for the expected response structure.
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/lineup/livepitch':
    get:
      summary: 'GET /v4/challenges/{challengeId}/lineup/livepitch'
      responses:
        '200':
          description: 'GET /v4/challenges/{challengeId}/lineup/livepitch'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 09:21:01 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e5eb02a13e527-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - lineup
        - livepitch
      description: >-
        ## Get Live Pitch Lineup for a Challenge


        Retrieves the **live pitch lineup** for a specific challenge in the
        Kickbase fantasy football app. This endpoint returns the current
        real-time lineup displayed on the pitch for the given challenge, useful
        for tracking player positions and live match data during an active
        gameday.


        ---


        ### Path Variables


        | Variable | Type | Description |

        |---|---|---|

        | `challengeId` | string | The unique identifier of the challenge for
        which the live pitch lineup is retrieved. |


        ---


        ### Response


        - **Content-Type:** `application/json`

        - Returns a JSON object containing the live pitch lineup details for the
        specified challenge, including player positions, team assignments, and
        relevant match data.


        ---


        ### Notes


        - Ensure the `challengeId` corresponds to an active or ongoing challenge
        to receive live lineup data.

        - The `{{baseUrl}}` variable should be set to the Kickbase API base URL
        in your active environment.

        - Authentication may be required — make sure the `token` variable is set
        in your environment.
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/lineup/overview':
    get:
      summary: 'GET /v4/challenges/{challengeId}/lineup/overview'
      responses:
        '200':
          description: 'GET /v4/challenges/{challengeId}/lineup/overview'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 09:22:19 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e6095ea33e52d-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - lineup
        - overview
      description: |-
        ## Get Challenge Lineup Overview

        Returns summarized lineup data for a challenge.

        ### Request

        **GET** `/v4/challenges/{challengeId}/lineup/overview`

        ### Path Variables

        | Variable | Description |
        | --- | --- |
        | `challengeId` | Unique identifier of the challenge. |

        ---

        ### Response (200 OK)

        | Field | Type | Description |
        | --- | --- | --- |
        | `it` | array | List of lineup summaries. |

        Each object in `it` contains:

        | Field | Type | Description |
        | --- | --- | --- |
        | `sd` | string (ISO Date) | Start date. |
        | `il` | boolean | Indicates locked state. |
        | `col` | string | Display color (hex). |
        | `li` | string | Lineup ID. |
        | `ch` | number | Challenge ID. |
        | `cht` | number | Challenge type. |
        | `n` | string | Challenge name. |
        | `b` | number | Budget. |
        | `cpi` | string | Challenge profile ID. |
        | `f` | string | Image file. |
        | `lpc` | number | Lineup count. |
        | `clpc` | number | Challenge lineup count. |
        | `uc` | number | User count. |
        | `ige` | boolean | Image flag. |
        | `chim` | string | Challenge image path. |
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/lineup/selection':
    get:
      summary: 'GET /v4/challenges/{challengeId}/lineup/selection'
      parameters:
        - name: position
          in: query
          schema:
            type: string
        - name: start
          in: query
          schema:
            type: string
        - name: query
          in: query
          schema:
            type: string
        - name: sorting
          in: query
          schema:
            type: string
        - name: playerToBeReplacedById
          in: query
          schema:
            type: string
        - name: max
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'GET /v4/challenges/{challengeId}/lineup/selection'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 05 Mar 2026 08:59:14 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d77ec64fcad124d-TXL
            Cache-Control:
              schema:
                type: string
              example: 'no-store, no-cache'
            Content-Encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - lineup
        - selection
      description: >-
        ## Player List for Lineup Selection


        Retrieves a list of available players for lineup selection within a
        specific challenge. Use this endpoint to populate player picker UIs,
        apply filters by position or search query, and support substitution
        workflows by specifying a player to be replaced.


        ---


        ## Path Variables


        | Variable | Description |

        |---|---|

        | `challengeId` | The unique identifier of the challenge for which the
        lineup selection is being made. |


        ---


        ## Query Parameters


        | Parameter | Description |

        |---|---|

        | `position` | Filter players by their field position (e.g. goalkeeper,
        defender, midfielder, forward). |

        | `start` | The offset index for pagination — defines the starting point
        of the result set. |

        | `query` | A search string to filter players by name or other
        searchable attributes. |

        | `sorting` | Defines the sort order of the returned player list (e.g.
        by market value, points, or name). |

        | `playerToBeReplacedById` | The ID of the player currently in the
        lineup who is being replaced. Used to contextualise the selection. |

        | `max` | The maximum number of players to return in the response (page
        size). |


        ---


        ## Headers


        | Header | Value | Description |

        |---|---|---|

        | `Accept` | `application/json` | Specifies that the response should be
        returned in JSON format. |


        ---


        ## Notes


        - All query parameters are optional — omitting them returns an
        unfiltered, default-sorted list.

        - Use `start` and `max` together to implement pagination across large
        player pools.

        - When performing a substitution, pass `playerToBeReplacedById` to allow
        the API to apply eligibility or positional constraints relevant to the
        replacement context.
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/lineup/teams':
    get:
      summary: 'GET /v4/challenges/{challengeId}/lineup/teams'
      responses:
        '200':
          description: 'GET /v4/challenges/{challengeId}/lineup/teams'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 09:25:46 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e65a5bca48863-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - lineup
        - teams
      description: >-
        ## Get Challenge Lineup Teams


        Retrieves the lineup teams for a specific challenge. Use this endpoint
        to fetch all teams participating in the lineup of a given challenge.


        ### Path Variables


        | Variable | Description |

        |---|---|

        | `challengeId` | The unique identifier of the challenge for which
        lineup teams are being retrieved. Uses the `{{challengeId}}` variable. |


        ### Response


        Returns a JSON array/object containing the lineup teams associated with
        the specified challenge.


        > **Content-Type:** `application/json`
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/lineup/clear':
    post:
      summary: 'POST /v4/challenges/{challengeId}/lineup/clear'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - lineup
        - clear
      description: >-
        ## Clear Challenge Lineup


        Clears the current lineup for a specific challenge. This resets all
        player selections associated with the given challenge, leaving the
        lineup empty.


        ### Path Variables


        | Variable | Description |

        |---|---|

        | `challengeId` | The unique identifier of the challenge whose lineup
        should be cleared. Uses the `{{challengeId}}` variable. |


        ### Headers


        | Header | Value | Description |

        |---|---|---|

        | `Accept` | `application/json` | Indicates that the client expects a
        JSON response. |


        ### Request Body


        No request body is required for this endpoint.


        ### Notes


        - This action is likely **irreversible** — once the lineup is cleared,
        previously selected players will need to be re-added manually.

        - Ensure the `{{challengeId}}` variable is set in your active
        environment before sending this request.

        - Authentication via `{{token}}` may be required depending on the API
        configuration.
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/lineup/fill':
    post:
      summary: 'POST /v4/challenges/{challengeId}/lineup/fill'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - lineup
        - fill
      description: >-
        ## Fill Challenge Lineup


        Automatically fills the lineup for a specific challenge.


        ---


        ### Request


        **POST** `/v4/challenges/{challengeId}/lineup/fill`


        ---


        ### Path Variables


        | Variable | Description |

        | --- | --- |

        | `challengeId` | The unique identifier of the challenge. (Required) |


        ---


        ### Headers


        | Header | Value | Description |

        | --- | --- | --- |

        | `Accept` | `application/json` | Specifies the expected response
        format. |

        | `Authorization` | `Bearer {{token}}` | Required authentication token.
        |


        ---


        ### Body


        No request body required.


        ---


        ### Response


        Returns the generated lineup for the specified challenge. The exact
        response structure depends on the lineup generation result.
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/perfectlineup':
    get:
      summary: 'GET /v4/challenges/{challengeId}/perfectlineup'
      parameters:
        - name: seasonId
          in: query
          schema:
            type: string
          example: 2024/2025
        - name: matchDay
          in: query
          schema:
            type: integer
          example: '20'
      responses:
        '200':
          description: 'GET /v4/challenges/{challengeId}/perfectlineup'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 05 Mar 2026 09:24:03 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            Cache-Control:
              schema:
                type: string
              example: 'no-store, no-cache'
            Content-Encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
            CF-RAY:
              schema:
                type: string
              example: 9d7810c44ebee513-TXL
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - perfectlineup
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/performance':
    get:
      summary: 'GET /v4/challenges/{challengeId}/performance'
      parameters:
        - name: dayNumber
          in: query
          schema:
            type: integer
          example: '1'
      responses:
        '200':
          description: 'GET /v4/challenges/{challengeId}/performance'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 09:31:08 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e6d8398e8236c-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - performance
      description: >-
        ## Get Challenge Performance


        Retrieves performance data for a specific challenge and matchday.


        ---


        ### Request


        **GET** `/v4/challenges/{challengeId}/performance`


        ---


        ### Path Variables


        | Variable | Description |

        | --- | --- |

        | `challengeId` | The unique identifier of the challenge. (Required) |


        ---


        ### Query Parameters


        | Parameter | Type | Description |

        | --- | --- | --- |

        | `dayNumber` | number | Matchday number for which performance data
        should be retrieved. |


        ---


        ### Headers


        | Header | Value | Description |

        | --- | --- | --- |

        | `Accept` | `application/json` | Specifies the expected response
        format. |

        | `Authorization` | `Bearer {{token}}` | Required authentication token.
        |


        ---


        ### Response (200 OK)


        | Field | Type | Description |

        | --- | --- | --- |

        | `lp` | array | List of lineup players for the given matchday. |

        | `t` | number | Challenge type or matchday type indicator. |

        | `li` | string | Lineup ID. |

        | `u` | object | User information. |

        | `clpc` | number | Challenge lineup count. |


        ---


        ### `u` Object


        | Field | Type | Description |

        | --- | --- | --- |

        | `i` | string | User ID. |

        | `n` | string | Username. |

        | `uim` | string | Relative path to the user image. |

        | `isvf` | boolean | Visibility flag. |

        | `st` | number | Status indicator. |


        ---


        ### Example Response


        ``` json

        {
          "lp": [],
          "t": 2,
          "li": "10009155",
          "u": {
            "i": "123",
            "n": "abc",
            "uim": "user/123abc.png",
            "isvf": false,
            "st": 0
          },
          "clpc": 11
        }

         ```
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/profile':
    get:
      summary: 'GET /v4/challenges/{challengeId}/profile'
      responses:
        '200':
          description: 'GET /v4/challenges/{challengeId}/profile'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 09:32:37 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e6fadcdb34ae6-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - profile
      description: >-
        ## Get Challenge Profile


        Retrieves the profile and details of a specific challenge identified by
        its unique `challengeId`. Use this endpoint to fetch metadata and
        configuration details associated with a given challenge.


        ---


        ## Parameters


        | Name | Type | Location | Required | Description |

        | --- | --- | --- | --- | --- |

        | `challengeId` | string | path | ✅ Yes | The unique identifier of the
        challenge. Resolved via the `{{challengeId}}` variable. |


        ---


        ## Authentication


        This endpoint requires a **Bearer Token**. Include the token in the
        `Authorization` header:


        ```

        Authorization: Bearer {{token}}

         ```

        The `{{token}}` variable should be set in your active environment (e.g.,
        **Kickbase v4**).


        ---


        ## Request Headers


        | Header | Value |

        | --- | --- |

        | `Accept` | `application/json` |


        ---


        ## Example Response


        ``` json

        {
          "id": "abc123",
          "name": "Weekly Challenge",
          "description": "Compete against others in this week's challenge.",
          "startDate": "2024-01-01T00:00:00Z",
          "endDate": "2024-01-07T23:59:59Z",
          "status": "active",
          "participants": 128,
          "prize": {
            "type": "coins",
            "amount": 5000
          }
        }

         ```

        > **Note:** The exact response structure may vary. Refer to saved
        examples on this request for documented response shapes.
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/ranking':
    get:
      summary: 'GET /v4/challenges/{challengeId}/ranking'
      parameters:
        - name: dayNumber
          in: query
          schema:
            type: integer
          example: '1'
      responses:
        '200':
          description: 'GET /v4/challenges/{challengeId}/ranking'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 26 Feb 2026 09:33:54 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d3e71918fd7e51f-TXL
            cache-control:
              schema:
                type: string
              example: 'no-store, no-cache'
            content-encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - ranking
      description: >-
        ## Get Challenge Ranking


        Retrieves the ranking for a specific challenge and matchday.


        ---


        ### Request


        **GET** `/v4/challenges/{challengeId}/ranking`


        ---


        ### Path Variables


        | Variable | Description |

        | --- | --- |

        | `challengeId` | The unique identifier of the challenge. (Required) |


        ---


        ### Query Parameters


        | Parameter | Type | Description |

        | --- | --- | --- |

        | `dayNumber` | number | Matchday number for which ranking data should
        be retrieved. |


        ---


        ### Headers


        | Header | Value | Description |

        | --- | --- | --- |

        | `Accept` | `application/json` | Specifies the expected response
        format. |

        | `Authorization` | `Bearer {{token}}` | Required authentication token.
        |


        ---


        ### Response (200 OK)


        | Field | Type | Description |

        | --- | --- | --- |

        | `tom` | array | Ranking entries (empty if no ranking data available).
        |

        | `t` | number | Ranking type indicator. |

        | `li` | string | Lineup or league instance ID. |

        | `chn` | string | Challenge name. |

        | `skp` | number | Skip indicator. |

        | `clpc` | number | Challenge lineup player count. |


        ---


        ### Example Response


        ``` json

        {
          "tom": [],
          "t": 2,
          "li": "10009155",
          "chn": "Bundesliga Matchday Challenge #24",
          "skp": 0,
          "clpc": 11
        }

         ```
    parameters:
      - name: challengeId
        in: path
        required: true
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/table/{userId}':
    get:
      summary: 'GET /v4/challenges/{challengeId}/table/{userId}'
      responses:
        '200':
          description: 'GET /v4/challenges/{challengeId}/table/{userId}'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 05 Mar 2026 09:19:41 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d780a5d6a62339b-TXL
            Cache-Control:
              schema:
                type: string
              example: 'no-store, no-cache'
            Content-Encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - table
        - '{userId}'
      description: >-
        ## Get Challenge Table for User


        Retrieves the standings/table for a specific user within a given
        challenge. This endpoint returns the user's position, score, and ranking
        data within the context of the specified challenge.


        ### Path Variables


        | Variable | Description |

        |---|---|

        | `challengeId` | The unique identifier of the challenge whose
        table/standings you want to retrieve. Maps to the `{{challengeId}}`
        variable. |

        | `userId` | The unique identifier of the user whose standings within
        the challenge should be returned. Maps to the `{{userId}}` variable. |


        ### Request Headers


        | Header | Value | Description |

        |---|---|---|

        | `Accept` | `application/json` | Specifies that the response should be
        returned in JSON format. |


        ### Response


        Returns a JSON object containing the table/standings data for the
        specified user in the given challenge, including their rank, points, and
        other relevant leaderboard information.
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
      - name: userId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{userId}}'
  '/v4/challenges/{challengeId}/table':
    get:
      summary: 'GET /v4/challenges/{challengeId}/table'
      responses:
        '200':
          description: 'GET /v4/challenges/{challengeId}/table'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 05 Mar 2026 09:19:02 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d780967fcab339b-TXL
            Cache-Control:
              schema:
                type: string
              example: 'no-store, no-cache'
            Content-Encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - table
      description: >-
        ## Get Challenge Table


        Retrieves the standings/table for a specific challenge, returning the
        current user's position and status within that challenge.


        ---


        ### Path Variables


        | Variable | Description |

        |---|---|

        | `challengeId` | **(Required)** The unique identifier of the challenge.
        Populated via `{{challengeId}}`. |


        ---


        ### Authentication


        This request inherits **Bearer Token** authentication from the
        collection. The token is sourced from the `{{token}}` variable (set in
        the active environment after login).


        ```

        Authorization: Bearer {{token}}

        ```


        ---


        ### Response


        **Status:** `200 OK`


        Returns a JSON object representing the authenticated user's standing in
        the challenge table.


        ```json

        {
            "il": false,
            "t": 2,
            "li": "10009155",
            "u": {
                "i": "123",
                "n": "abc",
                "uim": "user/123abc.png",
                "isvf": false,
                "st": 0
            }
        }

        ```


        #### Response Fields


        | Field | Type | Description |

        |---|---|---|

        | `il` | boolean | Indicates whether the user is in the last place (or a
        similar flag). |

        | `t` | number | The user's current rank/position in the challenge
        table. |

        | `li` | string | A league or challenge-related identifier. |

        | `u` | object | The authenticated user's profile information. |

        | `u.i` | string | User ID. |

        | `u.n` | string | Username/display name. |

        | `u.uim` | string | Relative path to the user's profile image. |

        | `u.isvf` | boolean | Indicates whether the user is verified. |

        | `u.st` | number | User status flag. |
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/top10':
    get:
      summary: 'GET /v4/challenges/{challengeId}/top10'
      parameters:
        - name: scope
          in: query
          schema:
            type: string
        - name: max
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'GET /v4/challenges/{challengeId}/top10'
          headers:
            Date:
              schema:
                type: string
              example: 'Thu, 05 Mar 2026 09:18:32 GMT'
            Transfer-Encoding:
              schema:
                type: string
              example: chunked
            Connection:
              schema:
                type: string
              example: keep-alive
            CF-RAY:
              schema:
                type: string
              example: 9d7808abdcbb339b-TXL
            Cache-Control:
              schema:
                type: string
              example: 'no-store, no-cache'
            Content-Encoding:
              schema:
                type: string
              example: br
            vary:
              schema:
                type: string
              example: Accept-Encoding
            cf-cache-status:
              schema:
                type: string
              example: DYNAMIC
            Server:
              schema:
                type: string
              example: cloudflare
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - top10
      description: >-
        ## Get Top 10 for a Challenge


        Retrieves the top 10 participants or entries for a specific challenge,
        identified by its unique `challengeId`. This endpoint is useful for
        displaying leaderboard-style rankings within a challenge context.


        ---


        ## Path Variables


        | Variable | Value | Description |

        |---|---|---|

        | `challengeId` | `{{challengeId}}` | The unique identifier of the
        challenge for which the top 10 should be retrieved. |


        ---


        ## Query Parameters


        | Parameter | Type | Description |

        |---|---|---|

        | `scope` | string | Filters the scope of the top 10 results (e.g., by
        league, global, etc.). Leave empty for the default scope. |

        | `max` | integer | Limits the maximum number of results returned. Leave
        empty to use the server default (up to 10). |


        ---


        ## Request Headers


        | Header | Value |

        |---|---|

        | `Accept` | `application/json` |


        ---


        ## Example Request


        ```

        GET {{baseUrl}}/v4/challenges/{{challengeId}}/top10?scope=&max=

        ```


        ## Response


        Returns a JSON object containing the top 10 ranked entries for the
        specified challenge, including participant details and their respective
        scores or rankings.
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: '{{challengeId}}'
  '/v4/challenges/{challengeId}/join':
    post:
      summary: 'POST /v4/challenges/{challengeId}/join'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
        - v4
        - challenges
        - '{challengeId}'
        - join
      description: >-
        ## Join a Challenge


        Allows the authenticated user to join an existing challenge by its ID.


        ---


        ### Authentication


        This endpoint requires a Bearer token passed via the `{{token}}`
        variable:


        ```

        Authorization: Bearer {{token}}

        ```


        ---


        ### Path Variable


        | Variable | Description |

        |---|---|

        | `challengeId` | The unique ID of the challenge to join |


        ---


        ### Headers


        | Header | Value |

        |---|---|

        | `Content-Type` | `application/json` |

        | `Accept` | `application/json` |


        ---


        ### Request Body


        The request body must be a JSON object with the following fields:


        | Field | Type | Description | Example |

        |---|---|---|---|

        | `lud` | object | Lineup data for the challenge entry | `{"lt":
        "4-4-2", "pls": ["1234"]}` |

        | `lud.lt` | string | The lineup/formation type | `"4-4-2"` |

        | `lud.pls` | array of strings | List of player IDs in the lineup |
        `["1234"]` |

        | `pi` | string | Player/participant identifier | `"1234"` |

        | `gid` | string | Group or game identifier | `"1234"` |


        **Example Body:**


        ```json

        {
          "lud": {
            "lt": "4-4-2",
            "pls": ["1234"]
          },
          "pi": "1234",
          "gid": "1234"
        }

        ```
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                lud:
                  type: object
                  properties:
                    lt:
                      type: string
                    pls:
                      type: array
                      items:
                        type: string
                        format: utc-millisec
                pi:
                  type: string
                  format: utc-millisec
                gid:
                  type: string
                  format: utc-millisec
            example:
              lud:
                lt: 4-4-2
                pls:
                  - '1234'
              pi: '1234'
              gid: '1234'
    parameters:
      - name: challengeId
        in: path
        required: true
        description: '(Required) '
        schema:
          type: string
        example: ut sit nisi aliquip eiusmod
  /v4/challenges/join:
    post:
      summary: POST /v4/challenges/join
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
        - v4
        - challenges
        - join
      description: >-
        ## Join a Challenge


        Joins one or more challenges on behalf of the authenticated user.


        ### Endpoint

        `POST {{baseUrl}}/v4/challenges/join`


        ### Request Body


        The request body must be sent as JSON (`Content-Type:
        application/json`).


        | Field | Type | Description |

        |-------|------|-------------|

        | `cis` | `string[]` | An array of challenge IDs to join. Each entry is
        a challenge ID string. |


[...]
